/* DOCUMENT INFORMATION
    - Document: Colour variables
    - Author: Alex Megahy
    - Description: All colour variables to be used
------------------------------------------- */

// Root colours
$black: #000000;
$white: #ffffff;
// Custom fire colours
$fire-red-1: #d13d1c;
$fire-red-2: #d3451a;
$fire-red-3: #d0300c;
$fire-orange-1: #d05c1e;
$fire-orange-2: #e06f1d;
$fire-orange-3: #ff6512;
$fire-yellow-1: #ffbd38;
$fire-yellow-2: #edc064;
$fire-yellow-3: #ebce59;
// Custom wood colours
$log-1: #3d2103;
$log-2: #452706;
$log-3: #703b00;
// Custom ground colours
$ground: #452706;
$ground-fire: #ffa748;
// Custom sky colour
$sky-1: #080235;
$sky-2: #16024d;
$sky-3: #1146b8;
// Custom Moon colours
$moon: #fffaeb;
$moon-highlight: #fffaeb54;
// Custom Moon crater colours
$crater-1: #bdbdbd75;
$crater-2: #ada6a65b;
$crater-3: #5c5c5c54;
// Custom Star colour
$star: #fffaeb;