/* DOCUMENT INFORMATION
    - Document: Campfire Styling
    - Author: Alex Megahy
    - Description: All campfire styling
------------------------------------------- */

// Main campfire container
.campfire-container {
    bottom: 0;
    left: 0;
    position: absolute;
    text-align: center;
    top: -90px;
    width: 100%;
}